# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
x64/
x86/

# C++
*.pdb
*.obj
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.idb
*.cache
*.intermediate.manifest
*.enc
*.ilk
*.exp
*.lib

# Allow third-party prebuilt libs
!ThirdParty/**/*.lib

# Runtime crash dumps
RemixCrashes/
